/*VIDEOS*/
.videoConteiner {
	display: flex;
	justify-content: center;
}
.oject-fit {
	scale: scale-down;
}
.videoPrincipal {
	margin: 0.3rem;
	padding: 0.3rem;
	border-radius: 1.3rem;
	height: 37.5rem;
	width: 78%;
}